@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');


html,
body {
	@apply text-gray-400;
	overflow-x: hidden;
	/* font-family: "Roboto", sans-serif; */
	/* font-family: "Readex Pro", sans-serif; */
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	/* color: gray; */	
}

b {
	@apply font-bold;
}

.prose {
	@apply max-w-full
}

.container {
	@apply p-4 sm:px-5 sm:py-8 lg:p-0 max-w-6xl 2xl:max-w-7xl mx-auto text-lg;
}

.header {
	animation-duration: 0.2s;
	position: relative;
	z-index: 2;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	transition: opacity 1s ease-in-out;

	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */

	box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	
		@apply bg-white text-white
}

@media screen and (max-width: 640px) {
	.header.sticky .header-logo-wrapper {
		display: none;
	}

	.header.sticky,
	.header.sticky .container {
		padding-top: 0;
		padding-bottom: 0;
	}

	.header.sticky .main-menu .container .menu-items li .wrapper a{
		@apply text-white;
	}

	.mega-menu {
		max-height: calc(100vh - 300px);
		overflow-y: auto;
		@apply border-b border-dashed border-gray-200;
	}

	.header.sticky .mega-menu {
		min-height: 70vh;
		max-height: calc(100vh - 250px);
	}
}

.header.sticky+.page-body {
	padding-top: 102px;
}

.page-body {
	min-height: 100vh;
	@apply text-slate-800 text-left;
}

.section {
	/* @apply py-16; */
	@apply py-8;
}

.section-0 {
	@apply py-0  text-left;
}

.overflow-section {
	@apply pt-8 pb-0  text-left;
}

.heading {
	@apply font-medium text-3xl sm:text-4xl mb-3;
}

.support-text {
	@apply text-lg;
}

.arrow-btn {
	@apply text-base inline-block;
}

.arrow-btn:hover:after {
	padding-left: 10px;
}

.arrow-btn:after {
	content: "\2192";
	font-size: 30px;
	padding-left: 6px;
	position: relative;
	/* top: -1px; */
	vertical-align: sub;
	z-index: 0;
}

/*Form Styling
--------------------------------------------------*/
input, [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select 
{
	background-color: #fafafa;
    border-color: #dddddd;
}

/* #Mega Menu Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.mega-menu {
	/* @apply border-b border-dashed border-gray-200; */
	/* margin-top: 4.4rem;*/
	/* margin-top: 3.1rem; */
	margin-top: 4.8rem;
	display: none;
	left: 0;
	position: absolute;
	text-align: left;
	width: 100%;
}

/* #hoverable Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.hoverable {
	position: static;
}

.hoverable>.wrapper>a:after,
.hoverable>.wrapper>label:after {
	content: "\25BC";
	font-size: 10px;
	padding-left: 6px;
	position: relative;
	top: -1px;
}

/* .hoverable:hover .mega-menu {
 display: block; 
 } */

/* #toggle Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.toggleable>.wrapper>label:after {
	content: "\25BC";
	font-size: 10px;
	padding-left: 6px;
	position: relative;
	top: -1px;
}

.toggle-input {
	display: none;
}

.toggle-input:not(checked)~.mega-menu {
	display: none;
}

.toggle-input:checked~.mega-menu {
	display: block;
}

.toggle-input:checked+label {
	color: white;
	background: #2c5282;
	/*@apply bg-blue-800 */
}

.toggle-input:checked~label:after {
	content: "\25B2";
	font-size: 10px;
	padding-left: 6px;
	position: relative;
	top: -1px;
}

.main-menu ul.menu-items {}

.main-menu ul.menu-items>li {
	@apply py-8 table text-left;
	/* height: 60px; */
	height: 110px;
}

.main-menu ul.menu-items>li>.wrapper {
	@apply table-cell;
	/* @apply table-cell break-words border-l border-dashed border-primary; */
	vertical-align: middle;
}

.main-menu ul.menu-items>li>.wrapper>a,
.main-menu ul.menu-items>li>.wrapper>label {
	line-height: 1.2;
}

.main-menu ul.menu-items>li:first-child>.wrapper {
	@apply border-l-0;
}

.bg-section {
	background-size: 100% auto;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.fixed-bg {
	background-size: 80% auto;
	background-position: center;
	background-repeat: no-repeat;
}

@media screen and (min-width: 640px) {
	.bg-section {
		background-size: 80% auto;
	}
}

.animate__delay-250ms {
	--animation-delay: 250ms;
}

.animate__delay-500ms {
	--animation-delay: 500ms;
}

.animate__delay-750ms {
	--animation-delay: 750ms;
}

.animate__delay-1500ms {
	--animation-delay: 1500ms;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	height: 0;
	overflow: hidden;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hero-img{
	@apply  bg-bottom bg-cover bg-right sm:bg-center md:bg-right-top lg:bg-contain bg-origin-border bg-no-repeat block pt-40 pb-28 2xl:pt-24 overflow-hidden;
	/* pt-96 */
}

.hero-link{
	/* @apply row-span-3 md:row-span-1 text-xl transition-all font-bold text-white duration-300 ease-in-out hover:text-white h-48 bg-no-repeat align-middle text-center pt-28; */
	@apply row-span-3 md:row-span-1 text-xl transition-all font-bold text-white duration-300 ease-in-out hover:text-white h-32 bg-no-repeat align-middle text-center pt-20;
	background-size: auto 40px;
	background-position:  center 2rem;
  }
  
.hero-link:hover{
	background-size: auto 50px;
	background-position: auto -20px;
 }
  
 .paypal-buttons-context-iframe {
	z-index: 0;
 }