@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');


html,
body {
	@apply text-gray-400;
	overflow-x: hidden;
	/* font-family: "Roboto", sans-serif; */
	/* font-family: "Readex Pro", sans-serif; */
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	/* color: gray; */	
}


b {
	@apply font-bold;
}

.prose {
	@apply max-w-full;
}

.container {
	@apply p-4 sm:px-5 sm:py-8 xl:p-0 max-w-6xl 2xl:max-w-7xl mx-auto text-lg;
}

.header {
	animation-duration: 0.2s;
	position: relative;
	z-index: 2;
}

.sticky {
	@apply bg-white text-white;

	position: fixed;
	top: 0;
	width: 100%;
	transition: opacity 1s ease-in-out;

	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */

	box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	
}


#secondary-menu.sticky {
	@apply bg-slate-100 text-teal-700;
	position: fixed;
	top: 100px;
	width: 100%;
	z-index: 1000;
	transition: opacity 1s ease-in-out;

	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */

	box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	
}

@media screen and (max-width: 640px) {
	.header.sticky .header-logo-wrapper {
		display: none;
	}

	.header.sticky,
	.header.sticky .container {
		padding-top: 0;
		padding-bottom: 0;
	}

	.header.sticky .main-menu .container .menu-items li .wrapper a{
		@apply text-white;
	}

	.mega-menu {
		max-height: calc(100vh - 300px);
		overflow-y: auto;
		@apply border-b border-dashed border-gray-200;
	}

	.header.sticky .mega-menu {
		min-height: 70vh;
		max-height: calc(100vh - 250px);
	}
}

.homeslider .gradient-overlay-h{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#303247+0,303247+100&1+0,1+33,0.88+43,0.8+47,0+68 */
background: -moz-linear-gradient(left,  rgba(48,50,71,1) 0%, rgba(48,50,71,1) 33%, rgba(48,50,71,0.88) 43%, rgba(48,50,71,0.8) 47%, rgba(48,50,71,0) 68%, rgba(48,50,71,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(48,50,71,1) 0%,rgba(48,50,71,1) 33%,rgba(48,50,71,0.88) 43%,rgba(48,50,71,0.8) 47%,rgba(48,50,71,0) 68%,rgba(48,50,71,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(48,50,71,1) 0%,rgba(48,50,71,1) 33%,rgba(48,50,71,0.88) 43%,rgba(48,50,71,0.8) 47%,rgba(48,50,71,0) 68%,rgba(48,50,71,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303247', endColorstr='#00303247',GradientType=1 ); /* IE6-9 */
}

.homeslider .gradient-overlay-v{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#303247+0,303247+100&0+66,0.4+83,0.7+92,1+100 */
background: -moz-linear-gradient(top,  rgba(48,50,71,0) 0%, rgba(48,50,71,0) 66%, rgba(48,50,71,0.4) 83%, rgba(48,50,71,0.7) 92%, rgba(48,50,71,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(48,50,71,0) 0%,rgba(48,50,71,0) 66%,rgba(48,50,71,0.4) 83%,rgba(48,50,71,0.7) 92%,rgba(48,50,71,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(48,50,71,0) 0%,rgba(48,50,71,0) 66%,rgba(48,50,71,0.4) 83%,rgba(48,50,71,0.7) 92%,rgba(48,50,71,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00303247', endColorstr='#303247',GradientType=0 ); /* IE6-9 */
}



/* gradient-human */
.homeslider .gradient-overlay-Humans-h{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#303247+0,303247+100&1+0,1+33,0.88+43,0.8+47,0+68 */
	background: -moz-linear-gradient(left,  rgba(113,0,140,1) 0%, rgba(113,0,140,1) 33%, rgba(113,0,140,0.88) 43%, rgba(113,0,140,0.8) 47%, rgba(113,0,140,0) 68%, rgba(113,0,140,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(113,0,140,1) 0%,rgba(113,0,140,1) 33%,rgba(113,0,140,0.88) 43%,rgba(113,0,140,0.8) 47%,rgba(113,0,140,0) 68%,rgba(113,0,140,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(113,0,140,1) 0%,rgba(113,0,140,1) 33%,rgba(113,0,140,0.88) 43%,rgba(113,0,140,0.8) 47%,rgba(113,0,140,0) 68%,rgba(113,0,140,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303247', endColorstr='#00303247',GradientType=1 ); /* IE6-9 */
	}
	
	.homeslider .gradient-overlay-Humans-v{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#303247+0,303247+100&0+66,0.4+83,0.7+92,1+100 */
	background: -moz-linear-gradient(top,  rgba(113,0,140,0) 0%, rgba(113,0,140,0) 66%, rgba(113,0,140,0.4) 83%, rgba(113,0,140,0.7) 92%, rgba(113,0,140,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(113,0,140,0) 0%,rgba(113,0,140,0) 66%,rgba(113,0,140,0.4) 83%,rgba(113,0,140,0.7) 92%,rgba(113,0,140,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(113,0,140,0) 0%,rgba(113,0,140,0) 66%,rgba(113,0,140,0.4) 83%,rgba(113,0,140,0.7) 92%,rgba(113,0,140,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00303247', endColorstr='#303247',GradientType=0 ); /* IE6-9 */
	}


/* gradient-animal */
.homeslider .gradient-overlay-Animals-h{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#303247+0,303247+100&1+0,1+33,0.88+43,0.8+47,0+68 */
	background: -moz-linear-gradient(left,  rgba(142, 139, 0,1) 0%, rgba(142, 139, 0,1) 33%, rgba(142, 139, 0,0.88) 43%, rgba(142, 139, 0,0.8) 47%, rgba(142, 139, 0,0) 68%, rgba(142, 139, 0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(142, 139, 0,1) 0%,rgba(142, 139, 0,1) 33%,rgba(142, 139, 0,0.88) 43%,rgba(142, 139, 0,0.8) 47%,rgba(142, 139, 0,0) 68%,rgba(142, 139, 0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(142, 139, 0,1) 0%,rgba(142, 139, 0,1) 33%,rgba(142, 139, 0,0.88) 43%,rgba(142, 139, 0,0.8) 47%,rgba(142, 139, 0,0) 68%,rgba(142, 139, 0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303247', endColorstr='#00303247',GradientType=1 ); /* IE6-9 */
	}
	
	.homeslider .gradient-overlay-Animals-v{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#303247+0,303247+100&0+66,0.4+83,0.7+92,1+100 */
	background: -moz-linear-gradient(top,  rgba(142, 139, 0,0) 0%, rgba(142, 139, 0,0) 66%, rgba(142, 139, 0,0.4) 83%, rgba(142, 139, 0,0.7) 92%, rgba(142, 139, 0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(142, 139, 0,0) 0%,rgba(142, 139, 0,0) 66%,rgba(142, 139, 0,0.4) 83%,rgba(142, 139, 0,0.7) 92%,rgba(142, 139, 0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(142, 139, 0,0) 0%,rgba(142, 139, 0,0) 66%,rgba(142, 139, 0,0.4) 83%,rgba(142, 139, 0,0.7) 92%,rgba(142, 139, 0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00303247', endColorstr='#303247',GradientType=0 ); /* IE6-9 */
	}


	/* gradient-plant */
.homeslider .gradient-overlay-Plants-h{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#303247+0,303247+100&1+0,1+33,0.88+43,0.8+47,0+68 */
	background: -moz-linear-gradient(left,  rgb(11,108,0,1) 0%, rgb(11,108,0,1) 33%, rgb(11,108,0,0.88) 43%, rgb(11,108,0,0.8) 47%, rgb(11,108,0,0) 68%, rgb(11,108,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgb(11,108,0,1) 0%,rgb(11,108,0,1) 33%,rgb(11,108,0,0.88) 43%,rgb(11,108,0,0.8) 47%,rgb(11,108,0,0) 68%,rgb(11,108,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgb(11,108,0,1) 0%,rgb(11,108,0,1) 33%,rgb(11,108,0,0.88) 43%,rgb(11,108,0,0.8) 47%,rgb(11,108,0,0) 68%,rgb(11,108,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303247', endColorstr='#00303247',GradientType=1 ); /* IE6-9 */
	}
	
	.homeslider .gradient-overlay-Plants-v{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#303247+0,303247+100&0+66,0.4+83,0.7+92,1+100 */
	background: -moz-linear-gradient(top,  rgb(11,108,0,0) 0%, rgb(11,108,0,0) 66%, rgb(11,108,0,0.4) 83%, rgb(11,108,0,0.7) 92%, rgb(11,108,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgb(11,108,0,0) 0%,rgb(11,108,0,0) 66%,rgb(11,108,0,0.4) 83%,rgb(11,108,0,0.7) 92%,rgb(11,108,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgb(11,108,0,0) 0%,rgb(11,108,0,0) 66%,rgb(11,108,0,0.4) 83%,rgb(11,108,0,0.7) 92%,rgb(11,108,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00303247', endColorstr='#303247',GradientType=0 ); /* IE6-9 */
	}
	

.homeslider .gradient-overlay-flare{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#303247+0,ff8800+90,ffaa02+100&0+0,0+78,0.5+94,0.9+100 */
background: -moz-linear-gradient(45deg,  rgba(48,50,71,0) 0%, rgba(227,125,9,0) 78%, rgba(255,136,0,0.38) 90%, rgba(255,150,1,0.5) 94%, rgba(255,170,2,0.9) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(48,50,71,0) 0%,rgba(227,125,9,0) 78%,rgba(255,136,0,0.38) 90%,rgba(255,150,1,0.5) 94%,rgba(255,170,2,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(48,50,71,0) 0%,rgba(227,125,9,0) 78%,rgba(255,136,0,0.38) 90%,rgba(255,150,1,0.5) 94%,rgba(255,170,2,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00303247', endColorstr='#e6ffaa02',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background-blend-mode: screen;
}

@keyframes bg-zoom {
	0% {
	  	background-size: 100% auto;
	}
	100% {
	  	background-size: 200% auto;
	}
}

.homeslider .sliderbg{
	/* animation: bg-zoom 15s ease-in-out infinite alternate; */
}

.header.sticky+.page-body {
	padding-top: 102px;
}

.page-body {
	min-height: 100vh;
	@apply text-slate-500 leading-loose text-left text-base;
}

.section {
	/* @apply py-16; */
	@apply py-8;
}

.section-0 {
	@apply py-0  text-left;
}

.overflow-section {
	@apply pt-8 pb-0  text-left;
}

.heading {
	@apply font-medium text-3xl sm:text-4xl mb-3;
}

.support-text {
	@apply text-lg;
}

.arrow-btn {
	@apply text-base inline-block;
}

.arrow-btn:hover:after {
	padding-left: 10px;
}

.arrow-btn:after {
	content: "\2192";
	font-size: 30px;
	padding-left: 6px;
	position: relative;
	/* top: -1px; */
	vertical-align: sub;
	z-index: 0;
}

/*Form Styling
--------------------------------------------------*/
input, [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select 
{
	background-color: #fafafa;
    border-color: #dddddd;
}

/* #Mega Menu Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.mega-menu {
	/* @apply border-b border-dashed border-gray-200; */
	/* margin-top: 4.4rem;*/
	/* margin-top: 3.1rem; */
	margin-top: 4.8rem;
	display: none;
	left: 0;
	position: absolute;
	text-align: left;
	width: 100%;
}

/* #hoverable Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.hoverable {
	position: static;
}

.hoverable>.wrapper>a:after,
.hoverable>.wrapper>label:after {
	content: "\25BC";
	font-size: 10px;
	padding-left: 6px;
	position: relative;
	top: -1px;
}

/* .hoverable:hover .mega-menu {
 display: block; 
 } */

/* #toggle Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.toggleable>.wrapper>label:after {
	content: "\25BC";
	font-size: 10px;
	padding-left: 6px;
	position: relative;
	top: -1px;
}

.toggle-input {
	display: none;
}

.toggle-input:not(checked)~.mega-menu {
	display: none;
}

.toggle-input:checked~.mega-menu {
	display: block;
}

.toggle-input:checked+label {
	color: white;
	background: #2c5282;
	/*@apply bg-blue-800 */
}

.toggle-input:checked~label:after {
	content: "\25B2";
	font-size: 10px;
	padding-left: 6px;
	position: relative;
	top: -1px;
}

.main-menu ul.menu-items {}

.main-menu ul.menu-items>li {
	@apply table text-left;
	/* height: 60px; */
	height: 110px;
}

.main-menu ul.menu-items>li>.wrapper {
	@apply table-cell;
	/* @apply table-cell break-words border-l border-dashed border-primary; */
	vertical-align: middle;
}

.main-menu ul.menu-items>li>.wrapper>a,
.main-menu ul.menu-items>li>.wrapper>label {
	line-height: 1.2;
}

.main-menu ul.menu-items>li:first-child>.wrapper {
	@apply border-l-0;
}

.bg-section {
	background-size: 100% auto;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.fixed-bg {
	background-size: 80% auto;
	background-position: center;
	background-repeat: no-repeat;
}

@media screen and (min-width: 640px) {
	.bg-section {
		background-size: 80% auto;
	}
}

.animate__delay-250ms {
	--animation-delay: 250ms;
}

.animate__delay-500ms {
	--animation-delay: 500ms;
}

.animate__delay-750ms {
	--animation-delay: 750ms;
}

.animate__delay-1500ms {
	--animation-delay: 1500ms;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	height: 0;
	overflow: hidden;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hero-img{
	@apply  bg-bottom bg-cover bg-right sm:bg-center md:bg-right-top lg:bg-contain bg-origin-border bg-no-repeat block pt-40 pb-28 2xl:pt-24 overflow-hidden;
	/* pt-96 */
}

.hero-link{
	/* @apply row-span-3 md:row-span-1 text-xl transition-all font-bold text-white duration-300 ease-in-out hover:text-white h-48 bg-no-repeat align-middle text-center pt-28; */
	@apply row-span-3 md:row-span-1 text-xl transition-all font-bold text-white duration-300 ease-in-out hover:text-white h-32 bg-no-repeat align-middle text-center pt-20;
	background-size: auto 40px;
	background-position:  center 2rem;
  }
  
.hero-link:hover{
	background-size: auto 50px;
	background-position: auto -20px;
 }
  
 .paypal-buttons-context-iframe {
	z-index: 0;
 }

 /* Beyond schools page*/
.slide-color-slate{
background-color: #64748b;
color: #64748b;
}

.slide-color-amber{
background-color: #f59e0b;
color: #f59e0b;
}

.slide-color-red{
background-color: #dc2626;
color: #dc2626;
}

.slide-color-yellow{
background-color: #facc15;
color: #facc15;
}

.slide-color-emerald{
background-color: #10b981;
color: #10b981;	
}

.slide-color-cyan{
background-color: #06b6d4;
color:  #06b6d4;
}

.slide-color-blue{
background-color: #1d4ed8;
color: #1d4ed8;
}


.slide-color-indigo{
background-color: #3730a3;
color: #3730a3;
}

.slide-color-violet{
background-color: #5b21b6;
color: #5b21b6;	
}

.slide-color-rose{
background-color: #e11d48;
color: #e11d48;
}
